<h2>Versand</h2>
<div ng-controller="FileUploadCtrl">
	<form id="fileupload" action="upload" method="POST" enctype="multipart/form-data">
		<div class="control-group">
		    <div class="controls">
		        <span class="btn btn-success fileinput-button">
		            <i class="icon-plus icon-white"></i>
		            <input id="fileupload" type="file" name="file" data-url="preview" multiple upload><span>Add files...</span></input>
		        </span>
		    	<button type="button" class="btn btn-primary start" ng-click="upload()">Senden</button>
		    	<button type="button" class="btn btn-primary start" ng-click="preview()">Preview</button>
		    </div>
		</div>
		<div>
            <div debugbox debug-data="{{folders}}"></div>
		    <span ng-style="sentStyle">Result {{result}}</span>
		</div>
		  Electronic: <input ng-model="type" value="1" type="radio" name="type" id="type"/>
		  Postalisch: <input ng-model="type" value="2" type="radio" name="type" id="type"/>	
		  <div ng-switch on="type">
		    <div ng-switch-when="1">
		      <label>Form 1</label>
		      {{addresses}}
		      Empfänger: <input id="to" type="text" name="to" ng-model="to" />
		    </div>
		    <div ng-switch-when="2">
		      <label>Form 2</label>
		      Firma: <input type="text" id="company" name="company" />  <br />
		      Vorname: <input type="text" id="firstName" name="firstName" /> <br />
		      Nachname: <input type="text" id="lastName" name="lastName" /> <br />
		      Straße: <input type="text" id="streetName" name="streetName" /> Nr. <input type="text" id="houseNumber" name="houseNumber" size="3" maxlength="3"/> <br />
		      Plz: <input type="text" id="zipCode" name="zipCode" size="5" maxlength="5"/> <br />
		      Stadt: <input type="text" id="city" name="city" /> <br />
		      without cover: <input type="checkbox" id="cover" name="cover" value="true"/> <br />
		    </div>
		  </div>
		 
		 <div>
	       <div class="progress" ng-show="percentage">
    		<div class="bar" style="width: {{percentage}}%;">
    	   </div>
		</div>
	    </div>
    </form>
    
	<div>
	    <span ng-show="!files.length">No files selected</span>
	    <ul>
	        <table class="table table-striped files ng-cloak" data-toggle="modal-gallery" data-target="#modal-gallery">
            <tr data-ng-repeat="file in files">
                <td data-ng-switch on="!!file.thumbnail_url">
                    <div class="preview" data-ng-switch-when="true">
                        <a data-ng-href="{{file.url}}" title="{{file.name}}" data-gallery="gallery" download="{{file.name}}"><img data-ng-src="{{file.thumbnail_url}}"></a>
                    </div>
                    <div class="preview" data-ng-switch-default data-preview="file"></div>
                </td>
                <td>
                    <p class="name" data-ng-switch on="!!file.url">
                        <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" data-gallery="gallery" download="{{file.name}}">{{file.name}}</a>
                        <span data-ng-switch-default>{{file.name}}</span>
                    </p>
                    <div ng-show="file.error"><span class="label label-important">Error</span> {{file.error}}</div>
                </td>
                <td>
                    <p class="size">{{(file.size | formatFileSize)}}</p>
                    <div class="progress progress-success progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-progress="file.$progress()"><div class="bar" ng-style="{width: num + '%'}"></div></div>
                </td>
                <td>
                    <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                        <i class="icon-ban-circle icon-white"></i>
                        <span>Cancel</span>
                    </button>
                </td>
            </tr>
        </table>
	    </ul>
	</div>
	
</div>
