.table {
    display: table;
    margin: 0px;
    padding: 0px;
}

.row {
    display: table-row;
}

.row > span {
    list-style:none;
    display: table-cell;
    border: 1px solid #000;
    padding: 2px 6px;
}

.header {
    display: table-header-group;
    /*position: absolute;*/
}

.header span {
    background-color: #ccc;
}

.body {
    display: table-row-group;
}

.footer {
    display: table-footer-group;
}