<div>
	<input ng-model="query" value="" type="text" name="query" id="query" />
	<button type="button" class="btn btn-primary start"
		ng-click="search(query)">Suchen</button>
	Treffer: {{searchresults.matches}} <br />
	<p>{{searchresults}}</p>
	<br />
	<ul class="tabrow">
		<li ng-repeat="folder in folders.entries"><a
			ng-click="mail(folder._links.content)">{{folder.folderInfo.name}}</a>
		</li>
	</ul>
	<div debugbox debug-data="{{mails}}"></div>
	Nachrichten: {{mails.status.totalCount}}
</div>
<div class="gridStyle" ng-grid="gridOptions" style="height: 1000px;"></div>
<div class="pagination">
	<ul>
		<li ng-class="{disabled: noPrevious()}"><a
			ng-click="selectPrevious()">Previous</a></li>
		<li ng-repeat="page in pages" ng-class="{active: isActive(page)}"><a
			ng-click="selectPage(page)">{{page}}</a></li>
		<li ng-class="{disabled: noNext()}"><a ng-click="selectNext()">Next</a></li>
	</ul>
</div>