<div class="table-responsive"  ng-controller="TableCtrl">
    <div>
        <span class="label label-default" ng-show="sortColumn">{{sortColumn}}</span>
    </div>
    <div>
        <a class="label label-default" ng-show="filter.fieldName" ng-click="resetFilter('fieldName')">{{filter.fieldName}}<span
                class="badge">x</span></a>
        <a class="label label-default" ng-show="filter.fieldDate" ng-click="resetFilter('fieldDate')">{{filter.fieldDate}}<span
                class="badge">x</span></a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th class="span2 sortable" ng-class="sortClass('id')" ng-click="setSort('id')">Id</th>
            <th class="span2 sortable" ng-class="sortClass('name_enc')" ng-click="setSort('name_enc')">Name</th>
            <th class="span2 sortable" ng-class="sortClass('value_enc')" ng-click="setSort('value_enc')">Wert</th>
            <th class="span2 sortable" ng-class="sortClass('date')" ng-click="setSort('date')">Datum</th>
            <th class="span2"></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td class="text-center">Anzahl {{stocks.length}}</td>
            <td class="text-center" colspan="3">
                <select ng-model="items" ng-change="setItems()">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
            </td>
        </tr>
        </tfoot>
        <tbody>
        <tr ng-repeat="stock in stocks">
            <td class="text-center">{{stock.id}}</td>
            <td class="text-center" ng-click="filterBy(stock.name_enc, 'fieldName')">{{stock.name_enc}}</td>
            <td class="text-center">{{stock.value_enc}}</td>
            <td class="text-center" ng-click="filterBy(stock.date, 'fieldDate')">{{stock.date | date:dateFormat}}</td>
            <td class="text-center"><a ng-href="#/detail/{{stock.symbol}}">detail</a></td>
        </tr>
        </tbody>
    </table>
</div>
